{% extends "data_publication_base.html" %}

{% block page_title %}Land Registry Data - Overseas Ownership Dataset{% endblock %}
{% block body %}
<div class="grid-row">

  <div id="global-breadcrumb" class="header-context column-three-quarters">
    <nav role="navigation" class="expand-top-half expand-bottom-half">
      <ol class="group">
        <li><a href="/">Dataset Details</a></li>
        <li><a href="/data">Dataset Download</a></li>
      </ol>
    </nav>
  </div>

</div>

<h1 class="heading-xlarge">Land Registry Data</h1>
<h2 class="heading-large">
  <span class="heading-secondary">Step 1 of 1</span>
  Download Dataset Files
</h2>
<div class="grid-row">
  <div class="column-half">
    <h3 class="heading-medium">Full Datasets</h3>
    <ul>
        {% for link in fullDatasets %}
      <li>
        <span class="icon icon-download" title="download"></span>
        <a href='{{ link["url"] }}'>
          {{ link["filename"] }}
        </a>
      </li>
        {% endfor %}
    </ul>
  </div>
  <div class="column-half">
    <h3 class="heading-medium">Change-Only Updates</h3>
    <ul>
        {% for link in updatedDatasets %}
      <li>
        <span class="icon icon-download" title="download"></span>
        <a href='{{ link["url"] }}'>
          {{ link["filename"] }}
        </a>
      </li>
        {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
