{% extends "data_publication_base.html" %}

{% block page_title %}Land Registry Data - Overseas Ownership Dataset{% endblock %}
{% block body %}
<div class="grid-row">

  <div id="global-breadcrumb" class="header-context column-three-quarters">
    <nav role="navigation" class="expand-top-half expand-bottom-half">
      <ol class="group">
        <li><a href="/" id="details">Dataset Details</a></li>
        <li><a href="/usertype" id="usertype">User type</a></li>
        <li><a href="/personal" id="personal">Personal details</a></li>
        <li><a href="/address" id="address">Address</a></li>
        <li><a href="/tel" id="contact">Contact Details</a></li>
        <li><a href="/terms" id="terms">Terms and conditions</a></li>
        <li><a href="/data" id="download">Dataset Download</a></li>
      </ol>
    </nav>
  </div>

</div>

<h1 class="heading-xlarge">Land Registry Data</h1>
<h2 class="heading-large">
  <span class="heading-secondary">Step 7 of 7</span>
  Download Dataset Files
</h2>
<div id="valid-link-message">Please note that these download links will only remain valid for <span id="duration">{{ duration }}</span> second(s).</div>
<div class="grid-row">
  <div class="column-half">
    <h3 class="heading-medium">Full Datasets</h3>
    <ul>
      {% for link in fullDatasets %}
      <li>
        <div style="margin-bottom:4%">
          <div style="float:left; margin-right:2%">
            <span class="icon icon-download" title="download"></span>
          </div>
          <div>
            <a href='{{ link["url"] }}'>{{ link["filename"] }}</a>
            <br/>
            <span class="text-secondary">({{ link["size"] }})</span>
          </div>
        </div>
      </li>      {% endfor %}
    </ul>
  </div>
  <div class="column-half">
    <h3 class="heading-medium">Change-Only Updates</h3>
    <ul>
      {% for link in updatedDatasets %}
      <li>
        <div style="margin-bottom:4%">
          <div style="float:left; margin-right:2%">
            <span class="icon icon-download" title="download"></span>
          </div>
          <div>
            <a href='{{ link["url"] }}'>{{ link["filename"] }}</a>
            <br/>
            <span class="text-secondary">({{ link["size"] }})</span>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
{% block js_additionals %}
  <script>
    window.load=countdown();
    function countdown() {
      var refreshIntervalId = setInterval(function() {
        var duration = document.getElementById('duration');
        duration.innerText = duration.innerText - 1;
        if (duration.innerText == 0) {
          clearInterval(refreshIntervalId);
          document.getElementById('valid-link-message').innerText = 'The download links have expired. You may need to reload the page.';
          document.getElementById('valid-link-message').style.color = 'red';
        }
      }, 1000);
    }
  </script>
{% endblock %}
