{% extends "data_publication_base.html" %}

{% block page_title %}Land Registry Data - Overseas Ownership Dataset{% endblock %}
{% block body %}
    <div class="grid-row">

      <div id="global-breadcrumb" class="header-context column-three-quarters">
        <nav role="navigation" class="expand-top-half expand-bottom-half">
          <ol class="group">
            <li><a href="/" id="details">Dataset Details</a></li>
          </ol>
        </nav>
      </div>

    </div>
    <h1 class="heading-xlarge">Overseas Ownership Dataset</h1>

    <div class="grid-row">

        <div class="column-third">
            <section class="inner-block page-contents">
                <h2 class="heading-small">Contents</h2>
                <ul>
                    <li><a href="#introduction" id="intro">Introduction</a></li>
                    <li><a href="#download-packages" id="packages">Download packages</a></li>
                    <li><a href="#data-benefits" id="benefits">Data benefits</a></li>
                    <li><a href="#related-datasets" id="related">Related datasets</a></li>
                </ul>
            </section>
        </div>
        <div class="column-two-thirds">

            <h2 class="heading-large" id="introduction">Introduction</h2>

            <p>The overseas dataset will provide details of any freehold or leasehold title where the registered legal owner is a company that is incorporated outside of the UK (i.e. an overseas company). It currently contains approximately 100,000 titles.</p>
            <p>It will include:</p>

            <ul class="list-bullet">
              <li>Title number</li>
              <li>Land or property address</li>
              <li>Administrative area</li>
              <li>Name and correspondence address of the legal owner(s)</li>
              <li>Country or territory of incorporation</li>
              <li>Date the owner was registered at Land Registry</li>
              <li>Title number's tenure (freehold/leasehold)</li>
            </ul>

            <h2 class="heading-large" id="download-packages">Download packages</h2>

            <p>Two download packages allow you to keep your data updated and refreshed. Options include:</p>

            <ul class="list-bullet">
                <li>Full download: a one-off download of the complete England and Wales (E&amp;W) data</li>
                <li>Change only updates: a file detailing all of the changes since the previous update (either the Full file or previous change only update)</li>
            </ul>

            <h2 class="heading-large" id="data-benefits">Data benefits</h2>

            <ul class="list-bullet">
                <li>one licence</li>
                <li>a choice of three download packages allowing you to select the option that best meets your needs</li>
                <li>ability to use the data internally or reuse with your end clients</li>
                <li>easy access to secure data rooms</li>
                <li>low cost data supply charges and a choice of reuse models help to deliver value for money</li>
                <li>our ‘data test drive’ initiative allows you to review and test a sample sub-set of the data internally, before purchasing the full licenced dataset</li>
                <li>data is supplied in shapefile format to allow easy integration with your systems and other datasets</li>
            </ul>

            <h2 class="heading-large" id="related-datasets">Related datasets</h2>
            <p>Other datasets that are currently available to download are:</p>
            <ul class="list-bullet">
              <li>Tenure Information</li>
              <li>UPRN</li>
            </ul>

            <a href="/usertype" class="button button-get-started" id="Start">Start</a>

        </div>
    </div>
{% endblock %}
