{% extends "data_publication_base.html" %}

{% block page_title %}Land Registry Data - Overseas Ownership Dataset{% endblock %}
{% block body %}
  <div class="grid-row">

    <div id="global-breadcrumb" class="header-context column-three-quarters">
      <nav role="navigation" class="expand-top-half expand-bottom-half">
        <ol class="group">
          <li><a href="/" id="details">Dataset Details</a></li>
          <li><a href="/usertype" id="usertype">User type</a></li>
          <li><a href="/personal" id="personal">Personal details</a></li>
          <li><a href="/address" id="address">Address</a></li>
          <li><a href="/tel" id="contact">Contact Details</a></li>
        </ol>
      </nav>
    </div>

  </div>

  <h1 class="heading-xlarge">Land Registry Data</h1>
  <h2 class="heading-large"><span class="heading-secondary">Step 4 of 7</span>Enter your contact details</h2>

  <form action="/tel/validation" method="post">
    {{ form.csrf_token }}
    <fieldset>
      <div class="form-group{% if form.landline.errors %} error{% endif %}">
        {{ form.landline.label(class_="form-label") }}
        {{ form.landline(class_="form-control") }}
        <br/>
        {% for error in form.landline.errors %}
        <span class="error-message">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="form-group{% if form.mobile.errors %} error{% endif %}">
        {{ form.mobile.label(class_="form-label") }}
        {{ form.mobile(class_="form-control") }}
        <br/>
        {% for error in form.mobile.errors %}
        <span class="error-message">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="form-group{% if form.email.errors %} error{% endif %}">
        {{ form.email.label(class_="form-label") }}
        {{ form.email(class_="form-control") }}
        <br/>
        {% for error in form.email.errors %}
        <span class="error-message">{{ error }}</span>
        {% endfor %}
      </div>
    </fieldset>
    <input type="submit" class="button button-get-started" value="Next"/>

  </form>

{% endblock %}
