<main id="content" role="main">
  <div class="grid-row">

    <div id="global-breadcrumb" class="header-context column-three-quarters">
      <nav role="navigation" class="expand-top-half expand-bottom-half">
        <ol class="group">
          <li><a href="./Menu.html">Home</a></li>
          <li><a href="./OOD_Dataset.html">Dataset Details</a></li>
          <li><a href="./User_Type_Form.html">User Type</a></li>
          <li><a href="./Name_Form.html">Name</a></li>
          <li><a href="./Address_Form.html">Address</a></li>
          <li><a href="./DOB_Form.html">Date of Birth</a></li>
          <li><a href="">Contact Details</a></li>
        </ol>
      </nav>
    </div>

  </div>

  <h1 class="heading-xlarge">Land Registry Data</h1>
  <h2 class="heading-large"><span class="heading-secondary">Step 5 of 8</span>Enter your contact details</h2>

  <form action="">
    <div class="form-group">
      <label class="form-label" for="landline">Telephone - Landline</label>
      <input class="form-control" id="landline" type="tel">
    </div>
    <div class="form-group">
      <label class="form-label" for="mobile">Telephone - Mobile</label>
      <input class="form-control" id="mobile" type="tel">
    </div>
    <div class="form-group">
      <label class="form-label" for="email">E-mail</label>
      <input class="form-control" id="email" type="email">
    </div>

    <a href="/data" class="button button-get-started" role="button">Next</a>

  </form>

</main>
