{% extends "data_publication_base.html" %}

{% block page_title %}Land Registry Data - Overseas Ownership Dataset{% endblock %}
{% block head_additionals %}{% endblock %}
{% block body %}
    <form action="{{ url_prefix }}/dataset" method="post">
      {{ form.csrf_token }}
      <h2 class="heading-large">
        <span class="heading-secondary">Step 6 of 7</span>
        Terms and conditions
      </h2>
      <div>
        <a href="{{ url_prefix }}/printable_terms" id="PrintFriendly">Printer-friendly version</a>
        <p>
          To download datasets you must read and agree to the Terms and Conditions as set out below.
        </p>
        <p>
          Select 'Accept' to confirm your acceptance and to continue to the download screen.
        </p>
        <p>
          If you do not agree with the Terms and Conditions you can exit by selecting 'Decline'.
        </p>
        <textarea rows="14" cols="100" style="width:100%" readonly id="tsandcs">{{ text }}</textarea>
        <input type="submit" value="Accept" class="button" id="Accept">
        <a href="{{ url_prefix }}/decline_terms" class="button decline" id="Decline">Decline</a>
      </div>
    </form>
{% endblock %}
