{% extends "data_publication_base.html" %}

{% block page_title %}Land Registry Data - Overseas Ownership Dataset{% endblock %}
{% block body %}
  <div class="grid-row">

    <div id="global-breadcrumb" class="header-context column-three-quarters">
      <nav role="navigation" class="expand-top-half expand-bottom-half">
        <ol class="group">
          <li><a href="/" id="details">Dataset Details</a></li>
          <li><a href="/usertype" id="usertype">User type</a></li>
        </ol>
      </nav>
    </div>

  </div>

  <h1 class="heading-xlarge">Land Registry Data</h1>
  <h2 class="heading-large"><span class="heading-secondary">Step 1 of 7</span>Select user type</h2>

  <form>
    <fieldset>
      <legend>
        <span class="form-label">
          I am accessing this data as a
        </span>
      </legend>
      <div class="form-group form-group-compound">
        <label class="block-label" for="private-individual">
          <input id="private-individual" type="radio" name="user-group" value="Private individual">
          Private Individual
        </label>
        <label class="block-label" for="company">
          <input id="company" type="radio" name="user-group" value="Company">
          Company
        </label>
      </div>
    </fieldset>

    <a href="/personal" class="button button-get-started" role="button" id="next">Next</a>

  </form>

{% endblock %}
