{% extends "data_publication_base.html" %}

{% block page_title %}Land Registry Data - Overseas Ownership Dataset{% endblock %}
{% block body %}
  <div class="grid-row">

    <div id="global-breadcrumb" class="header-context column-three-quarters">
      <nav role="navigation" class="expand-top-half expand-bottom-half">
        <ol class="group">
          <li><a href="{{ url_prefix }}/" id="details">Dataset details</a></li>
          <li><a href="{{ url_prefix }}/usertype" id="usertype">User type</a></li>
        </ol>
      </nav>
    </div>

  </div>

  <h1 class="heading-xlarge">Land Registry Data</h1>
  <h2 class="heading-large"><span class="heading-secondary">Step 1 of 7</span>Select user type</h2>

  <form action="{{ url_prefix }}/usertype/validation" method="post">
    {{ form.csrf_token }}
    <fieldset>
      <legend>
        <span class="form-label">
          I am accessing this data as a
        </span>
      </legend>
      <div class="form-group form-group-compound{% if form.user_type.errors %} error{% endif %}">
        {% for subfield in form.user_type %}
        <label class="block-label" for="{{ subfield.id }}">
          {{ subfield }}{{ subfield.label.text }}
        </label>
        {% endfor %}
        {% for error in form.user_type.errors %}
        <span class="error-message">{{ error }}</span>
        {% endfor %}
      </div>
    </fieldset>

    <input type="submit" class="button" id="next" value="Next"/>

  </form>

{% endblock %}
