{% extends "data_publication_base.html" %}

{% block page_title %}Land Registry Data - Overseas Ownership Dataset{% endblock %}
{% block body %}
  <div class="grid-row">

    <div id="global-breadcrumb" class="header-context column-three-quarters">
      <nav role="navigation" class="expand-top-half expand-bottom-half">
        <ol class="group">
          <li><a href="/" id="details">Dataset Details</a></li>
          <li><a href="/terms" id="terms">Terms and conditions</a></li>
          <li><a href="/usertype">User type</a></li>
        </ol>
      </nav>
    </div>

  </div>

  <h1 class="heading-xlarge">Land Registry Data</h1>
  <h2 class="heading-large"><span class="heading-secondary">Step 2 of 8</span>Select user type</h2>

  <form action="">
    <fieldset>
      <legend>
        <span class="form-label">
          I am accessing this data as a
        </span>
      </legend>
      <div class="form-group form-group-compound">
        <label class="block-label" for="gender-male">
          <input id="gender-male" type="radio" name="gender-group" value="Male">
          Private Individual
        </label>
        <label class="block-label" for="gender-female">
          <input id="gender-female" type="radio" name="gender-group" value="Female">
          Company
        </label>
      </div>
    </fieldset>

    <a href="/personal" class="button button-get-started" role="button">Next</a>

  </form>

{% endblock %}
